<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}/NLogs/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- Reusable layout variable -->
	<!--<variable name="logLayout"
		value="${longdate} | ${level:uppercase=true} | ${aspnet-request-method} ${aspnet-request-url} | Status: ${aspnet-response-statuscode} | Time: ${aspnet-request-duration}ms | ${message}" />-->

	<variable name="logLayout"
		value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message:withException=true} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

	<!--<variable name="logLayout"
		value="${longdate} | ${level:uppercase=true} | 
		${aspnet-request-method:whenEmpty=NA} ${aspnet-request-url:whenEmpty=NA} | 
		Status: ${aspnet-response-statuscode:whenEmpty=NA} | 
		Time: ${aspnet-request-duration:whenEmpty=0}ms | 
		${message} ${exception:format=tostring}" />-->

	<targets>
		<!-- Console target -->
		<target xsi:type="ColoredConsole"
				name="coloredConsole"
				layout="${shortdate} ${level:uppercase=true} ${logger:shortName=true} — ${message} ${exception:format=tostring}" />

		<!-- Rolling file — one file per day, keep 7 days -->
		<target xsi:type="File"
				name="allFile"
				fileName="${currentdir}/NLogs/malls-api-${shortdate}.log"
				layout="${logLayout}"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				createDirs="true"/>

		<!-- Separate file for errors only -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${currentdir}/NLogs/malls-errors-${shortdate}.log"
				layout="${logLayout}"
				archiveEvery="Day"
				maxArchiveFiles="30"
				createDirs="true"/>
	</targets>

	<rules>
		<!-- Skip noisy Microsoft/System noise -->
		<logger name="Microsoft.*"         maxlevel="Info"  final="true" />
		<logger name="System.Net.Http.*"   maxlevel="Info"  final="true" />

		<!-- All app logs → console + allFile -->
		<logger name="*" minlevel="Debug" writeTo="coloredConsole,allFile" />

		<!-- Error and above → dedicated error file too -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>